* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
}

body {
  background-image: url("https://www.tutorperini.com/media/3539/eagles-e40_x.jpg");
  background-size: 
}

.eagles-logo {
    margin-top: 10px;
    text-align: center;
    width: 50%;
    height: 200px;
    opacity: 0.5;
}

.intro {
    font-size: 30px;
    background-color: black;
    opacity: .8;
    color: white;
}

main {
    display: flex;
    justify-content: center;
}

.quiz-start {
    display: block;
    margin-top: 10px;
    width: 50%;
    text-align: center;
}

button {
    margin-top: 20px;
    font-size: 40px;
    padding: 10px;
    background-color: white;
    border-radius: 25%;
}

button:hover {
    cursor: pointer;
    background-color: #004953;
}

.question {
    font-size: 30px;
    padding-bottom: 10px;
    background-color: #004953;
    color: white;
    text-shadow: 2px 2px black;
    margin-bottom: 25px;
}

.progressNum {
    float: left;
    font-size: 25px;
    background-color: black;
    opacity: .8;
    color: white;
    display: block;
    padding: 0 5px;
}

.progressScore {
    float: right;
    font-size: 25px;
    margin-right: 50px;
    background-color: black;
    opacity: .8;
    color: white;
    display: block;
    padding: 0 5px;
}
.current-score {
    text-align: center;

}

.quiz {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    
}

fieldset {
    border: none;
    background-color: black;
    opacity: .9;
}

label {
    font-size: 20px;
    color: black;
    width: 100%;
    background-color: white;
    padding-right: 10px;
}

.answer {
     margin-bottom: 5px;
}

.fail, .almost, .pass {
 width: 100%;
}

.feedback {
    background-color: white;
    padding: 10px;
    display: block;
}

.feedbackImage {
    width: 275px;
    height: 173px;
}

.finalFeedback {
    background-color: white;
    padding: 10px;
    display: block;
}


.kick-off {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

.kick-off {
    cursor: pointer;
}
.inputs {
  width: 100%;
  text-align: center;
  
}

}
@media only screen and (max-width: 1200px) {
  .eagles-logo {
    margin-top: 15px;
    font-size: 50px;
    color: gray;
    text-align: center;
    width: 50%;
    height: 200px;
    opacity: 0.5;
}


  .progressNum {
    float: left;
    font-size: 25px;
    color: white;
    text-shadow: 2px 10px black;
    padding: 10px;
    display: block;
}

.progressScore {
    float: right;
    font-size: 25px;
    color: white;
    text-shadow: 2px 10px black;
    padding: 10px;
    display: block;
}
  .quiz-start {
    display: block;
    margin-top: 10px;
    width: 80%;
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
}
}


@media only screen and (max-width: 900px) {
    .eagles-logo{
        display: block;
        text-align: center;
        font-size: 32px;
        width: 80%;
        height: 120px;
    }
    .intro {
      display: block;
      font-size: 18px;
      width: 100%;
      text-align: center;
      word-wrap: break-word;

    }
    button {
      font-size: 20px;
    }
    .progressNum {
      display: block;
      font-size: 25px;
      width: 100%;
      text-align: center;
      clear: left;
      margin-bottom: 5px;
      margin-left: 0;
    }
    .progressScore {
      display: block;
      font-size: 25px;
      text-align: center;
      width: 100%;
      clear: right;
      margin-bottom: 10px;
      margin-right: 0;
    }
    .quiz {
      display: block;
      font-size: 20px;
    }
    .inputs {
  width: 100%;
  text-align: center;
}

    .answer {
      margin-bottom: 5px;
    }

.pass, .fail, .almost {
  width: 100%;
}
.feedbackImage {
  width: 100%;
}
}

@media only screen and (max-width: 375px) {
button {
  font-size: 16px;
}
.kick-off{
  font-size: 16px;
}
.pass, .fail, .almost {
  width: 100%;
}

.inputs {
  width: 100%;
  text-align: center;
}

.answers {
  margin-bottom: 5px;
}

.feedbackImage {
  width: 100%;
}

.quiz-start {
    display: block;
    margin-top: 10px;
    width: 80%;
    text-align: center;
}
}